*{
    margin: 0;
    padding: 0;
}

#root{
    background-color: rgb(248, 245, 245);
    color: rgb(169, 228, 208);
    min-height: 100vh;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 110px;
}