#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    height: 70px;
    background-color: rgb(47, 47, 47);
    margin-bottom: 40px;
}

.logo-img{
    width: 120px;
    position: relative;
    top: 20px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    font-size: 15px;
    margin-right: 10px;
}

.item{
    margin-left: 50px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    cursor: pointer;
    color: white;
}
.nav-link{
    text-decoration: none;
}