.card-container{
    margin: 10px 30px;
}
.res-image{
    height: 170px;
    width: 260px;
    border-radius: 20px;
}
.description{
    color: black;
    font-family: "Basis Grotesque Pro";
    font-size: 15px;
    margin-top: 5px;
    margin-left: 12px;
}
.res-name{
    font-weight: 700;
}
.res-cuisines{
    color: rgb(80, 80, 80);
}
.res-address{
    color: rgb(80, 80, 80);
}